/* BookingForm.css */
body {
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg?size=626&ext=jpg&uid=R135379297&ga=GA1.1.884806722.1706062679&semt=ais') center/cover no-repeat fixed; /* Set your image URL here */
    height: 100vh;
  }
  
  .booking-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:50px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  
  .small-form {
    background: rgba(255, 255, 255, 0.8); /* Adjust the transparency as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for better visibility */
    z-index: 1; /* Ensure the form is above the background image */
  
}
  .form-preview {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd; /* Add a border for separation */
    border-radius: 5px;
  }
  /* Add any additional styling for the form content */
  