body {
  margin: 0;
  padding: 0;
  background: url('./image-professional-woman-doctor-physician-with-clipboard-writing-listening-patient-hospital-cl.jpg') center/cover no-repeat fixed;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px;
}

.booking-form {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  text-align: center;
}

.small-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.form-preview {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
