
body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}


.section-1 {
  height: 100vh;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7); 
  display: flex;
  align-items: flex-start;
}


.booking-form {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}


.section-2 {
  background-color: #f5f5f5; 
  padding: 50px;
}
